.mypy_cache
.pytest_cache
__pycache__
.coverage
.gitignore
.github
*.md
env
.dockerignore
docker/Dockerfile
Dockerfile.prod
docker-compose.yaml
.eslintrc.js
requirements-build.txt
requirements-lint.txt
requirements-test.txt
requirements-dev.txt
requirements-prod.txt
CONTAINER.md
README.md
node_modules/
.editorconfig
.gitattributes
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv/
.git
__pycache__/
*.pyc
*.pyo
*.db
/backups
/logs
/media
/static
/assets
